<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!--
		=====================================================================
	-->
	<!-- 以下是appender的定义 -->
	<!--
		=====================================================================
	-->
	<appender name="PROJECT"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/webxtest.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n%d [%X{loginUserNick}@%X{remoteAddr} - %X{method} %X{requestURIWithQueryString}] %nUserAgent: %X{userAgent}%nReferrer: %X{referrer}%n%-5p %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="PROJECT-DEBUG"
		class="com.alibaba.common.logging.spi.log4j.FileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/webxtest-debug.log" />
		<param name="append" value="false" />
		<param name="encoding" value="GB2312" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n%d [%X{loginUserNick}@%X{remoteAddr} - %X{method} %X{requestURIWithQueryString}] %nUserAgent: %X{userAgent}%nReferrer: %X{referrer}%n%-5p %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="FILTER"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file"
			value="${loggingRoot}/${localHost}/webxtest-filter.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n%d [%X{loginUserNick}@%X{remoteAddr} - %X{method} %X{requestURIWithQueryString}] %nUserAgent: %X{userAgent}%nReferrer: %X{referrer}%n%-5p %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="APACHE"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file"
			value="${loggingRoot}/${localHost}/webxtest-apache.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n%d [%X{loginUserNick}@%X{remoteAddr} - %X{method} %X{requestURIWithQueryString}] %nUserAgent: %X{userAgent}%nReferrer: %X{referrer}%n%-5p %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="VELOCITY"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file"
			value="${loggingRoot}/${localHost}/webxtest-velocity.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GBK" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n%d [%X{loginUserNick}@%X{remoteAddr} - %X{method} %X{requestURIWithQueryString}] %nUserAgent: %X{userAgent}%nReferrer: %X{referrer}%n%-5p %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="IBATIS"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file"
			value="${loggingRoot}/${localHost}/webxtest-ibatis.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GBK" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n%d [%X{loginUserNick}@%X{remoteAddr} - %X{method} %X{requestURIWithQueryString}] %nUserAgent: %X{userAgent}%nReferrer: %X{referrer}%n%-5p %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="NOTIFY-DEBUG"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/notify-debug.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n" />
		</layout>
	</appender>
	<appender name="TAODAN-SERVICE"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/webxtest-service.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
	</appender>
	<appender name="TASK-SYNCCAT"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/task-syncCat.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
	</appender>
	<appender name="TASK-SEARCHTAODAN"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/task-searchTaodan.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
	</appender>
	<appender name="PICTURE-PROCESS"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/picture-process.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
	</appender>
	<appender name="SHARE-TOGETHER"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/share-together.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<appender name="REVISED-PICURL"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/revised-pic.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %m%n" />
		</layout>
	</appender>

	<appender name="DRC-FETCH"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/drc-fetch.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %m%n" />
		</layout>
	</appender>

	<appender name="INC_SEARCH"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/inc_search.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %m%n" />
		</layout>
	</appender>

	<appender name="SEARCH_ALL"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/search_all.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %m%n" />
		</layout>
	</appender>

	<appender name="SYN-TAOMODEL"
		class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
		<param name="file" value="${loggingRoot}/${localHost}/taomodel.log" />
		<param name="append" value="true" />
		<param name="encoding" value="GB2312" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
	</appender>
<!--=====================================================================-->
<!-- Log appender的 async实现-->
<!--=====================================================================-->

	<appender name="ASYNC_PROJECT" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="PROJECT" />
    </appender>

	<appender name="ASYNC_PROJECT-DEBUG" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="PROJECT-DEBUG" />
    </appender>

	<appender name="ASYNC_FILTER" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="FILTER" />
    </appender>

	<appender name="ASYNC_APACHE" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="APACHE" />
    </appender>

	<appender name="ASYNC_VELOCITY" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="VELOCITY" />
    </appender>

	<appender name="ASYNC_IBATIS" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="IBATIS" />
    </appender>

	<appender name="ASYNC_NOTIFY-DEBUG" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="NOTIFY-DEBUG" />
    </appender>

	<appender name="ASYNC_TAODAN-SERVICE" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="TAODAN-SERVICE" />
    </appender>

	<appender name="ASYNC_TASK-SYNCCAT" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="TASK-SYNCCAT" />
    </appender>

	<appender name="ASYNC_TASK-SEARCHTAODAN" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="TASK-SEARCHTAODAN" />
    </appender>

	<appender name="ASYNC_PICTURE-PROCESS" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="PICTURE-PROCESS" />
    </appender>

	<appender name="ASYNC_SHARE-TOGETHER" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="SHARE-TOGETHER" />
    </appender>

	<appender name="ASYNC_REVISED-PICURL" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="REVISED-PICURL" />
    </appender>

	<appender name="ASYNC_DRC-FETCH" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="DRC-FETCH" />
    </appender>

	<appender name="ASYNC_INC_SEARCH" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="INC_SEARCH" />
    </appender>

	<appender name="ASYNC_SEARCH_ALL" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="SEARCH_ALL" />
    </appender>

	<appender name="ASYNC_SYN-TAOMODEL" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="512" />
        <appender-ref ref="SYN-TAOMODEL" />
    </appender>

	<!--
		=====================================================================
	-->
	<!-- 以下是logger的定义 additivity表明是否是要在root里面也出现 -->
	<!--
		=====================================================================
	-->
	<logger name="org.apache.commons.beanutils" additivity="true">
		<level value="ERROR" />
	</logger>
	<logger name="org.apache.commons.digester" additivity="true">
		<level value="ERROR" />
	</logger>
	<logger name="com.alibaba.webx.filter" additivity="false">
		<level value="${matrix.taodan.logger.level}" />
		<appender-ref ref="ASYNC_FILTER" />
	</logger>
	<logger name="com.alibaba.service.VelocityService" additivity="false">
		<level value="${matrix.taodan.logger.level}" />
		<appender-ref ref="ASYNC_VELOCITY" />
	</logger>
	<logger name="org.apache" additivity="false">
		<level value="${matrix.taodan.logger.level}" />
		<appender-ref ref="ASYNC_APACHE" />
	</logger>
	<logger name="com.ibatis" additivity="false">
		<level value="${matrix.taodan.logger.level}" />
		<appender-ref ref="ASYNC_IBATIS" />
	</logger>
	<logger name="java.sql" additivity="false">
		<level value="${matrix.taodan.logger.level}" />
		<appender-ref ref="ASYNC_IBATIS" />
	</logger>
	<logger name="com.taobao.matrix.taoshare.biz.notify" additivity="false">
		<level value="${matrix.taodan.logger.level}" />
		<appender-ref ref="ASYNC_NOTIFY-DEBUG" />
	</logger>
	<logger name="com.taobao.matrix.taoshare.biz.service.impl.TaodanServiceImpl"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_TAODAN-SERVICE" />
	</logger>
	<logger
		name="com.taobao.matrix.taoshare.biz.manager.tlive.impl.PicManagerImpl"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_PICTURE-PROCESS" />
	</logger>

	<logger name="com.taobao.matrix.taodan.biz.search.impl.DrcDataSourceFetch"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_DRC-FETCH" />
	</logger>

	<logger name="com.taobao.matrix.taodan.biz.search" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_INC_SEARCH" />
	</logger>

	<logger name="com.taobao.terminator" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_SEARCH_ALL" />
	</logger>

	<logger name="com.taobao.matrix.taodan.biz.task.SyncCatTask"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_TASK-SYNCCAT" />
	</logger>

	<logger name="com.taobao.matrix.taodan.biz.task.SearchTaodanTask"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_TASK-SEARCHTAODAN" />
	</logger>

	<logger name="com.taobao.matrix.taoshare.web.home.module.servlet.TaoModelServlet"
		additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_SYN-TAOMODEL" />
	</logger>

	<logger name="staticLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_SHARE-TOGETHER" />
	</logger>
	<logger name="revisedPicUrl" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ASYNC_REVISED-PICURL" />
	</logger>
	<!--
		=====================================================================
	-->
	<!-- Root logger的定义 -->
	<!--
		=====================================================================
	-->
	<root>
		<level value="debug" />
		<appender-ref ref="ASYNC_PROJECT" />
		<appender-ref ref="ASYNC_PROJECT-DEBUG" />
	</root>
</log4j:configuration>
